In [1]:
# Import modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
pd.options.display.max_columns = 1000

In [4]:
# Read sheet names of excel file of interest
xl = pd.ExcelFile('DataSet/ICNALE_Infosheet_201912.xlsx')
xl.sheet_names

['Spoken Monologue_2.0',
 'Spoken Dialogue_1.1',
 'Written Essays_2.4',
 'Edited Essays_2.1']

In [5]:
# Load/read sheets of interest: WE_file, EE_file
WE_file = pd.read_excel('DataSet/ICNALE_Infosheet_201912.xlsx', sheet_name = 'Written Essays_2.4')
EE_file = pd.read_excel('DataSet/ICNALE_Infosheet_201912.xlsx', sheet_name = 'Edited Essays_2.1')

In [6]:
WE_file.head()

,Code,Country,PTJ1 (wds),PTJ2 (wds),SMK1 (wds),SMK2 (wds),Self Ev,Sex,Age,Grade/Degree,Yrs of Stay (< Yrs),ENS Type,Major/ Occupation,Acad. Genre,Test,Score,VST,CEFR,INTM,INSM,INTM+INSM,INTM-INSM,Primary,Secondary,College,Inschool,Outschool,Listening,Reading,Speaking,Writing,NS,Pronunciation,Presentation,EssayW
0,W_CHN_001,CHN,271,NaN,219,NaN,NaN,F,20,2.0,NaN,NaN,Law,Social Sciences,CEE,72,30.0,B1_1,0.00,0.00,0.00,0.00,2.0,3.63,4.25,3.89,3.56,4.00,4.50,3.50,3.75,4,5,5,4
1,W_CHN_002,CHN,203,NaN,292,NaN,NaN,F,21,3.0,NaN,NaN,Law,Social Sciences,CEE,77,27.0,B1_1,4.17,4.33,8.50,-0.16,2.5,4.00,1.86,3.00,2.88,3.00,3.00,2.75,3.33,3,3,3,3
2,W_CHN_003,CHN,238,NaN,250,NaN,NaN,F,20,3.0,NaN,NaN,Law,Social Sciences,CEE,79,32.0,B1_1,5.17,5.17,10.34,0.00,3.5,4.25,4.25,4.22,4.11,5.00,4.00,3.75,4.25,4,5,5,5
3,W_CHN_004,CHN,269,NaN,230,NaN,NaN,F,20,2.0,NaN,NaN,Chemistry,Sciences & Technology,CEE,87,37.0,B1_2,4.67,5.17,9.84,-0.50,1.0,2.75,4.25,3.44,3.00,3.75,3.75,3.25,3.25,3,5,5,5
4,W_CHN_005,CHN,225,NaN,208,NaN,NaN,M,20,2.0,NaN,NaN,Chemistry,Sciences & Technology,CEE,84,44.0,B1_2,5.17,5.33,10.50,-0.16,2.0,3.63,4.88,4.33,3.67,5.00,5.00,3.25,3.75,3,5,5,5

In [7]:
EE_file.head()

,Edited Essays,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Original Essays (Rating),Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Learners (From The ICNALE-Written Infosheet),Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,"From ESL Composition Profile (Jacobs et al., 1981)",Unnamed: 47
0,File Name,Country,Topic,Learners' Prof.,Editor,Tokens,A (Added),D (Deleted),A+D,Tokens,Content (/12),Organization (/12),Vocabulary (/12),Language Use (/12),Mechanics (/12),Total 1 (%),Total 2 (Weighted %),Writer Code,Sex,Age,Grade/Degree,Yrs of Stay (< Yrs),Major,Acad. Genre,Prof. Test,Score,Vocab Size Test,CEFR,INTM,INSM,INTM+INSM,INTM-INSM,Primary,Secondary,College,Inschool,Outschool,Listening,Reading,Speaking,Writing,NS,Pronunciation,Presentation,EssayW,NaN,Content,NaN
1,W_CHN_PTJ0_001_B1_1_EDIT.txt,CHN,PTJ,B1_1,LC,275,34,29,63,271,10,9,8,7,8,70,68.3,W_CHN_001,F,20,2,NaN,Law,Social Sciences,CEE,72,30,B1_1,0,0,0,0,2,3.63,4.25,3.89,3.56,4,4.5,3.5,3.75,4,5,5,4,NaN,"""10-12",EXCELLENT TO VERY GOOD: knowledgeable • substa...
2,W_CHN_PTJ0_002_B1_1_EDIT.txt,CHN,PTJ,B1_1,LC,210,18,13,31,203,8,7,9,7,9,66.7,62.1,W_CHN_002,F,21,3,NaN,Law,Social Sciences,CEE,77,27,B1_1,4.17,4.33,8.5,-0.16,2.5,4,1.86,3,2.88,3,3,2.75,3.33,3,3,3,3,NaN,"""7-9",GOOD TO AVERAGE: some knowledge of the subject...
3,W_CHN_PTJ0_003_B1_1_EDIT.txt,CHN,PTJ,B1_1,LC,255,29,17,46,238,10,10,8,9,9,76.7,73.8,W_CHN_003,F,20,3,NaN,Law,Social Sciences,CEE,79,32,B1_1,5.17,5.17,10.34,0,3.5,4.25,4.25,4.22,4.11,5,4,3.75,4.25,4,5,5,5,NaN,"""4-6",FAIR TO POOR: limited knowledge of the subject...
4,W_CHN_PTJ0_004_B1_2_EDIT.txt,CHN,PTJ,B1_2,LC,267,27,25,52,269,8,9,6,8,9,66.7,62.1,W_CHN_004,F,20,2,NaN,Chemistry,Sciences & Technology,CEE,87,37,B1_2,4.67,5.17,9.84,-0.5,1,2.75,4.25,3.44,3,3.75,3.75,3.25,3.25,3,5,5,5,NaN,"""1-3",VERY POOR: does not show knowledge of the subj...

In [8]:
WE_file.dtypes

Code                    object
Country                 object
PTJ1 (wds)               int64
PTJ2 (wds)             float64
SMK1 (wds)               int64
SMK2 (wds)             float64
Self Ev                float64
Sex                     object
Age                      int64
Grade/Degree           float64
Yrs of Stay (< Yrs)    float64
ENS Type                object
Major/ Occupation       object
Acad. Genre             object
Test                    object
Score                   object
VST                    float64
CEFR                    object
INTM                   float64
INSM                   float64
INTM+INSM              float64
INTM-INSM              float64
Primary                float64
Secondary              float64
College                float64
Inschool               float64
Outschool              float64
Listening              float64
Reading                float64
Speaking               float64
Writing                float64
NS                      object
Pronunciation           object
Presentation            object
EssayW                  object
dtype: object

In [9]:
EE_file.dtypes

Edited Essays                                          object
Unnamed: 1                                             object
Unnamed: 2                                             object
Unnamed: 3                                             object
Unnamed: 4                                             object
Unnamed: 5                                             object
Unnamed: 6                                             object
Unnamed: 7                                             object
Unnamed: 8                                             object
Original Essays (Rating)                               object
Unnamed: 10                                            object
Unnamed: 11                                            object
Unnamed: 12                                            object
Unnamed: 13                                            object
Unnamed: 14                                            object
Unnamed: 15                                            object
Unnamed: 16                                            object
Learners (From The ICNALE-Written Infosheet)           object
Unnamed: 18                                            object
Unnamed: 19                                            object
Unnamed: 20                                            object
Unnamed: 21                                            object
Unnamed: 22                                            object
Unnamed: 23                                            object
Unnamed: 24                                            object
Unnamed: 25                                            object
Unnamed: 26                                            object
Unnamed: 27                                            object
Unnamed: 28                                            object
Unnamed: 29                                            object
Unnamed: 30                                            object
Unnamed: 31                                            object
Unnamed: 32                                            object
Unnamed: 33                                            object
Unnamed: 34                                            object
Unnamed: 35                                            object
Unnamed: 36                                            object
Unnamed: 37                                            object
Unnamed: 38                                            object
Unnamed: 39                                            object
Unnamed: 40                                            object
Unnamed: 41                                            object
Unnamed: 42                                            object
Unnamed: 43                                            object
Unnamed: 44                                            object
Unnamed: 45                                           float64
From ESL Composition Profile (Jacobs et al., 1981)     object
Unnamed: 47                                            object
dtype: object

In [10]:
# Clean up column names - they're currently in the second row
EE_file.columns = EE_file.iloc[0]
EE_file = EE_file.drop(0)

In [11]:
EE_file = EE_file.reset_index()

In [12]:
EE_file.head()

,index,File Name,Country,Topic,Learners' Prof.,Editor,Tokens,A (Added),D (Deleted),A+D,Tokens,Content (/12),Organization (/12),Vocabulary (/12),Language Use (/12),Mechanics (/12),Total 1 (%),Total 2 (Weighted %),Writer Code,Sex,Age,Grade/Degree,Yrs of Stay (< Yrs),Major,Acad. Genre,Prof. Test,Score,Vocab Size Test,CEFR,INTM,INSM,INTM+INSM,INTM-INSM,Primary,Secondary,College,Inschool,Outschool,Listening,Reading,Speaking,Writing,NS,Pronunciation,Presentation,EssayW,NaN,Content,NaN
0,1,W_CHN_PTJ0_001_B1_1_EDIT.txt,CHN,PTJ,B1_1,LC,275,34,29,63,271,10,9,8,7,8,70,68.3,W_CHN_001,F,20,2,NaN,Law,Social Sciences,CEE,72,30,B1_1,0,0,0,0,2,3.63,4.25,3.89,3.56,4,4.5,3.5,3.75,4,5,5,4,NaN,"""10-12",EXCELLENT TO VERY GOOD: knowledgeable • substa...
1,2,W_CHN_PTJ0_002_B1_1_EDIT.txt,CHN,PTJ,B1_1,LC,210,18,13,31,203,8,7,9,7,9,66.7,62.1,W_CHN_002,F,21,3,NaN,Law,Social Sciences,CEE,77,27,B1_1,4.17,4.33,8.5,-0.16,2.5,4,1.86,3,2.88,3,3,2.75,3.33,3,3,3,3,NaN,"""7-9",GOOD TO AVERAGE: some knowledge of the subject...
2,3,W_CHN_PTJ0_003_B1_1_EDIT.txt,CHN,PTJ,B1_1,LC,255,29,17,46,238,10,10,8,9,9,76.7,73.8,W_CHN_003,F,20,3,NaN,Law,Social Sciences,CEE,79,32,B1_1,5.17,5.17,10.34,0,3.5,4.25,4.25,4.22,4.11,5,4,3.75,4.25,4,5,5,5,NaN,"""4-6",FAIR TO POOR: limited knowledge of the subject...
3,4,W_CHN_PTJ0_004_B1_2_EDIT.txt,CHN,PTJ,B1_2,LC,267,27,25,52,269,8,9,6,8,9,66.7,62.1,W_CHN_004,F,20,2,NaN,Chemistry,Sciences & Technology,CEE,87,37,B1_2,4.67,5.17,9.84,-0.5,1,2.75,4.25,3.44,3,3.75,3.75,3.25,3.25,3,5,5,5,NaN,"""1-3",VERY POOR: does not show knowledge of the subj...
4,5,W_CHN_PTJ0_005_B1_2_EDIT.txt,CHN,PTJ,B1_2,LC,228,27,26,53,225,9,8,9,10,8,73.3,70.8,W_CHN_005,M,20,2,NaN,Chemistry,Sciences & Technology,CEE,84,44,B1_2,5.17,5.33,10.5,-0.16,2,3.63,4.88,4.33,3.67,5,5,3.25,3.75,3,5,5,5,NaN,NaN,NaN

In [13]:
# Define and save the columns of interest - only the ID Code and the scores are of interest from EE_file: EE_scores
score_cols = ['Content (/12)', 'Organization (/12)', 'Vocabulary (/12)', 
              'Language Use (/12)', 'Mechanics (/12)', 'Total 1 (%)', 'Total 2 (Weighted %)']
EE_scores = EE_file[['File Name'] + score_cols].copy()

In [14]:
EE_scores.head()

,File Name,Content (/12),Organization (/12),Vocabulary (/12),Language Use (/12),Mechanics (/12),Total 1 (%),Total 2 (Weighted %)
0,W_CHN_PTJ0_001_B1_1_EDIT.txt,10,9,8,7,8,70,68.3
1,W_CHN_PTJ0_002_B1_1_EDIT.txt,8,7,9,7,9,66.7,62.1
2,W_CHN_PTJ0_003_B1_1_EDIT.txt,10,10,8,9,9,76.7,73.8
3,W_CHN_PTJ0_004_B1_2_EDIT.txt,8,9,6,8,9,66.7,62.1
4,W_CHN_PTJ0_005_B1_2_EDIT.txt,9,8,9,10,8,73.3,70.8

In [15]:
# Rename ID to same identifier as WE_file
EE_scores = EE_scores.rename(columns = {'File Name' : 'Code'})

In [16]:
# Format Code to be of same format as WE_file
for i, user in enumerate(EE_scores['Code']):
    EE_scores['Code'][i] = user[:6] + user[11:14]

In [17]:
EE_scores.head()

,Code,Content (/12),Organization (/12),Vocabulary (/12),Language Use (/12),Mechanics (/12),Total 1 (%),Total 2 (Weighted %)
0,W_CHN_001,10,9,8,7,8,70,68.3
1,W_CHN_002,8,7,9,7,9,66.7,62.1
2,W_CHN_003,10,10,8,9,9,76.7,73.8
3,W_CHN_004,8,9,6,8,9,66.7,62.1
4,W_CHN_005,9,8,9,10,8,73.3,70.8

In [18]:
# How many unique Codes? Some are duplicates
EE_scores['Code'].nunique()

321

In [19]:
# Convert scores to floats
EE_scores[score_cols] = EE_scores[score_cols].astype('float64', errors = 'raise')

In [20]:
EE_scores.isna().sum()

0
Code                    0
Content (/12)           0
Organization (/12)      0
Vocabulary (/12)        0
Language Use (/12)      0
Mechanics (/12)         0
Total 1 (%)             0
Total 2 (Weighted %)    0
dtype: int64

In [21]:
EE_scores.dtypes

0
Code                     object
Content (/12)           float64
Organization (/12)      float64
Vocabulary (/12)        float64
Language Use (/12)      float64
Mechanics (/12)         float64
Total 1 (%)             float64
Total 2 (Weighted %)    float64
dtype: object

In [22]:
# Tidy EE_scores by averaging each individual's (Code's) essay scores
EE_unique = EE_scores.groupby('Code')[score_cols].mean()

In [23]:
# Ready to merge
EE_unique.head()

,Content (/12),Organization (/12),Vocabulary (/12),Language Use (/12),Mechanics (/12),Total 1 (%),Total 2 (Weighted %)
Code,,,,,,,
W_CHN_001,9.5,8.0,8.0,6.5,8.0,66.65,64.55
W_CHN_002,9.0,8.5,9.0,8.0,9.0,72.50,68.75
W_CHN_003,9.0,8.5,8.0,8.5,8.0,70.00,67.55
W_CHN_004,8.5,9.0,7.5,8.5,9.5,71.70,66.90
W_CHN_005,9.5,8.5,9.5,10.0,8.5,76.65,73.95

In [86]:
# Join EE_unique with WE_file. Left join with EE_unique - all entries without essay scores are meaningless
df = EE_unique.join(WE_file.set_index('Code'), how='left')

In [87]:
df.shape

(321, 41)

In [88]:
df.dtypes

Content (/12)           float64
Organization (/12)      float64
Vocabulary (/12)        float64
Language Use (/12)      float64
Mechanics (/12)         float64
Total 1 (%)             float64
Total 2 (Weighted %)    float64
Country                  object
PTJ1 (wds)                int64
PTJ2 (wds)              float64
SMK1 (wds)                int64
SMK2 (wds)              float64
Self Ev                 float64
Sex                      object
Age                       int64
Grade/Degree            float64
Yrs of Stay (< Yrs)     float64
ENS Type                 object
Major/ Occupation        object
Acad. Genre              object
Test                     object
Score                    object
VST                     float64
CEFR                     object
INTM                    float64
INSM                    float64
INTM+INSM               float64
INTM-INSM               float64
Primary                 float64
Secondary               float64
College                 float64
Inschool                float64
Outschool               float64
Listening               float64
Reading                 float64
Speaking                float64
Writing                 float64
NS                       object
Pronunciation            object
Presentation             object
EssayW                   object
dtype: object

In [89]:
# The following columns are the wrong format. Coerce to numeric type.
num_cols = ['Score', 'NS', 'Pronunciation', 'Presentation', 'EssayW']

In [90]:
for c in num_cols:
    df[c] = pd.to_numeric(df[c], errors = 'coerce')

In [91]:
df.dtypes

Content (/12)           float64
Organization (/12)      float64
Vocabulary (/12)        float64
Language Use (/12)      float64
Mechanics (/12)         float64
Total 1 (%)             float64
Total 2 (Weighted %)    float64
Country                  object
PTJ1 (wds)                int64
PTJ2 (wds)              float64
SMK1 (wds)                int64
SMK2 (wds)              float64
Self Ev                 float64
Sex                      object
Age                       int64
Grade/Degree            float64
Yrs of Stay (< Yrs)     float64
ENS Type                 object
Major/ Occupation        object
Acad. Genre              object
Test                     object
Score                   float64
VST                     float64
CEFR                     object
INTM                    float64
INSM                    float64
INTM+INSM               float64
INTM-INSM               float64
Primary                 float64
Secondary               float64
College                 float64
Inschool                float64
Outschool               float64
Listening               float64
Reading                 float64
Speaking                float64
Writing                 float64
NS                      float64
Pronunciation           float64
Presentation            float64
EssayW                  float64
dtype: object

In [92]:
df = df.reset_index()
df.head()

,Code,Content (/12),Organization (/12),Vocabulary (/12),Language Use (/12),Mechanics (/12),Total 1 (%),Total 2 (Weighted %),Country,PTJ1 (wds),PTJ2 (wds),SMK1 (wds),SMK2 (wds),Self Ev,Sex,Age,Grade/Degree,Yrs of Stay (< Yrs),ENS Type,Major/ Occupation,Acad. Genre,Test,Score,VST,CEFR,INTM,INSM,INTM+INSM,INTM-INSM,Primary,Secondary,College,Inschool,Outschool,Listening,Reading,Speaking,Writing,NS,Pronunciation,Presentation,EssayW
0,W_CHN_001,9.5,8.0,8.0,6.5,8.0,66.65,64.55,CHN,271,NaN,219,NaN,NaN,F,20,2.0,NaN,NaN,Law,Social Sciences,CEE,72.0,30.0,B1_1,0.00,0.00,0.00,0.00,2.0,3.63,4.25,3.89,3.56,4.00,4.50,3.50,3.75,4.0,5.0,5.0,4.0
1,W_CHN_002,9.0,8.5,9.0,8.0,9.0,72.50,68.75,CHN,203,NaN,292,NaN,NaN,F,21,3.0,NaN,NaN,Law,Social Sciences,CEE,77.0,27.0,B1_1,4.17,4.33,8.50,-0.16,2.5,4.00,1.86,3.00,2.88,3.00,3.00,2.75,3.33,3.0,3.0,3.0,3.0
2,W_CHN_003,9.0,8.5,8.0,8.5,8.0,70.00,67.55,CHN,238,NaN,250,NaN,NaN,F,20,3.0,NaN,NaN,Law,Social Sciences,CEE,79.0,32.0,B1_1,5.17,5.17,10.34,0.00,3.5,4.25,4.25,4.22,4.11,5.00,4.00,3.75,4.25,4.0,5.0,5.0,5.0
3,W_CHN_004,8.5,9.0,7.5,8.5,9.5,71.70,66.90,CHN,269,NaN,230,NaN,NaN,F,20,2.0,NaN,NaN,Chemistry,Sciences & Technology,CEE,87.0,37.0,B1_2,4.67,5.17,9.84,-0.50,1.0,2.75,4.25,3.44,3.00,3.75,3.75,3.25,3.25,3.0,5.0,5.0,5.0
4,W_CHN_005,9.5,8.5,9.5,10.0,8.5,76.65,73.95,CHN,225,NaN,208,NaN,NaN,M,20,2.0,NaN,NaN,Chemistry,Sciences & Technology,CEE,84.0,44.0,B1_2,5.17,5.33,10.50,-0.16,2.0,3.63,4.88,4.33,3.67,5.00,5.00,3.25,3.75,3.0,5.0,5.0,5.0

In [93]:
# View sample entry
df.iloc[0].T

Code                          W_CHN_001
Content (/12)                       9.5
Organization (/12)                  8.0
Vocabulary (/12)                    8.0
Language Use (/12)                  6.5
Mechanics (/12)                     8.0
Total 1 (%)                       66.65
Total 2 (Weighted %)              64.55
Country                             CHN
PTJ1 (wds)                          271
PTJ2 (wds)                          NaN
SMK1 (wds)                          219
SMK2 (wds)                          NaN
Self Ev                             NaN
Sex                                   F
Age                                  20
Grade/Degree                        2.0
Yrs of Stay (< Yrs)                 NaN
ENS Type                            NaN
Major/ Occupation                   Law
Acad. Genre             Social Sciences
Test                                CEE
Score                              72.0
VST                                30.0
CEFR                               B1_1
INTM                                0.0
INSM                                0.0
INTM+INSM                           0.0
INTM-INSM                           0.0
Primary                             2.0
Secondary                          3.63
College                            4.25
Inschool                           3.89
Outschool                          3.56
Listening                           4.0
Reading                             4.5
Speaking                            3.5
Writing                            3.75
NS                                  4.0
Pronunciation                       5.0
Presentation                        5.0
EssayW                              4.0
Name: 0, dtype: object

In [94]:
df.isna().sum()

Code                      0
Content (/12)             0
Organization (/12)        0
Vocabulary (/12)          0
Language Use (/12)        0
Mechanics (/12)           0
Total 1 (%)               0
Total 2 (Weighted %)      0
Country                   0
PTJ1 (wds)                0
PTJ2 (wds)              321
SMK1 (wds)                0
SMK2 (wds)              321
Self Ev                 321
Sex                       0
Age                       0
Grade/Degree             23
Yrs of Stay (< Yrs)     321
ENS Type                321
Major/ Occupation         8
Acad. Genre               8
Test                    133
Score                   157
VST                       0
CEFR                      0
INTM                      1
INSM                      1
INTM+INSM                 1
INTM-INSM                 1
Primary                   1
Secondary                 1
College                   1
Inschool                  1
Outschool                 1
Listening                 1
Reading                   1
Speaking                  1
Writing                   1
NS                        1
Pronunciation             1
Presentation              1
EssayW                    1
dtype: int64

In [95]:
# Following columns are completely empty. Drop them.
df = df.drop(['PTJ2 (wds)', 'SMK2 (wds)', 'Self Ev', 'Yrs of Stay (< Yrs)', 'ENS Type'], axis=1).copy()

In [96]:
# Following columns are not needed. Drop them.
df = df.drop(['Code', 'Content (/12)', 'Organization (/12)', 'Vocabulary (/12)',
       'Language Use (/12)', 'Mechanics (/12)', 'Total 2 (Weighted %)', 'INTM+INSM', 'INTM-INSM'], axis=1).copy()

In [97]:
# Rename some awkward columns.
df = df.rename(columns = {
    'PTJ1 (wds)' : 'PTJ1', 
    'SMK1 (wds)' : 'SMK1',
    'Grade/Degree' : 'Grade', 
    'Major/ Occupation' : 'Major', 
    'Acad. Genre' : 'Field'})

In [98]:
df.isna().sum()

Total 1 (%)        0
Country            0
PTJ1               0
SMK1               0
Sex                0
Age                0
Grade             23
Major              8
Field              8
Test             133
Score            157
VST                0
CEFR               0
INTM               1
INSM               1
Primary            1
Secondary          1
College            1
Inschool           1
Outschool          1
Listening          1
Reading            1
Speaking           1
Writing            1
NS                 1
Pronunciation      1
Presentation       1
EssayW             1
dtype: int64

In [99]:
df.Sex.unique()

array(['F', 'M', 'm'], dtype=object)

In [100]:
# Unify to uppercase for Sex
df.Sex = df.Sex.str.upper()

In [101]:
df.Grade.unique()

array([ 2.,  3.,  1., nan,  7.,  4.,  6.,  5.])

In [102]:
# Deal with Grade
df['Grade_isna'] = df.Grade.isna().astype(int)
df.Grade = df.Grade.fillna(0)

In [103]:
df.Major.unique()

array(['Law', 'Chemistry', 'Telecommunication', 'Education', 'Technology',
       'Business', 'English', 'Economics', 'Electronics',
       'Mechanical Engineering', 'Computer', 'Biology', 'Math',
       'Civil Engineering', 'Industrial Engineering', 'Biochemistry',
       'Physics', 'Information Technology', 'Engineering',
       'Communication', 'Arabic', 'Accounting', 'Management',
       'Informatics', 'Linguistics', 'Marketing', 'Human Science',
       'Agriculture', 'Medicine', 'Marine Science', 'Culture',
       'Humanities', 'International Affairs', 'Science', 'Military',
       'Trade', 'Design', 'Chinese', 'Music', nan, 'Textile',
       'Literature', 'Arts', 'Social Science', 'Architecture',
       'Accountancy', 'Finance', 'Chemical Engineering',
       'Preschool Education', 'Sociology', 'Material Science', 'Pharmacy',
       'Communications and New Media', 'Aerospace Engineering',
       'Geography', 'Psychology', 'Arts & Social Sciences', 'Philosophy',
       'Human Resource Management', 'Policy', 'Production Engineering',
       'Electrical Engineering', 'Tourism', 'IT Business',
       'Biomedical Engineering', 'Nursing', 'Japanese', 'Taiwan Language',
       'Risk Management', 'Labor Relation', 'Industrial Management',
       'Media', 'Life Science', 'Environmental Engineering',
       'Medical Technology', 'Information ', 'Social Work', 'Information',
       'Advertising'], dtype=object)

In [104]:
# Fill NaN Major/ Occupation to 'Other'
df.Major = df.Major.fillna('Other')

In [105]:
df.Field.unique()

array(['Social Sciences', 'Sciences & Technology', 'Humanities',
       'Life Sciences', nan], dtype=object)

In [106]:
# Fill NaN Acad. Genre to 'Other'
df.Field = df.Field.fillna('Other')

In [107]:
# Check if the entry missing INTM is missing all the other single missing values as well
df[df.INTM.isna()].T

                                 135
Total 1 (%)                     60.0
Country                          JPN
PTJ1                             210
SMK1                             212
Sex                                F
Age                               18
Grade                            1.0
Major                    Agriculture
Field          Sciences & Technology
Test                           TOEIC
Score                          470.0
VST                             26.0
CEFR                            A2_0
INTM                             NaN
INSM                             NaN
Primary                          NaN
Secondary                        NaN
College                          NaN
Inschool                         NaN
Outschool                        NaN
Listening                        NaN
Reading                          NaN
Speaking                         NaN
Writing                          NaN
NS                               NaN
Pronunciation                    NaN
Presentation                     NaN
EssayW                           NaN
Grade_isna                         0

In [108]:
# Fill the missing entries with median values instead of zeros and creating extra columns for all
missing_cols = ['INTM', 'INSM', 'Primary', 'Secondary', 'College', 'Inschool', 'Outschool', 
                'Listening', 'Reading', 'Speaking', 'Writing', 'NS', 'Pronunciation', 'Presentation', 'EssayW']

In [109]:
for c in missing_cols:
    df[c] = df[c].fillna(df[c].median())

In [110]:
# No more .isna() (except Test and Score - we'll deal with this later) - double check 
df.isna().sum()

Total 1 (%)        0
Country            0
PTJ1               0
SMK1               0
Sex                0
Age                0
Grade              0
Major              0
Field              0
Test             133
Score            157
VST                0
CEFR               0
INTM               0
INSM               0
Primary            0
Secondary          0
College            0
Inschool           0
Outschool          0
Listening          0
Reading            0
Speaking           0
Writing            0
NS                 0
Pronunciation      0
Presentation       0
EssayW             0
Grade_isna         0
dtype: int64

In [111]:
# Subset scores to their own columns
for key, group in df.groupby('Test'):
    df[key] = group['Score']
    print(key, ': ', df[key].nunique())

A Level (General Paper) :  0
CEE :  20
CSEPT :  2
HKALE :  0
IELTS :  5
NMET :  1
O Level (Eng Lang) :  0
ONET :  19
TEPS :  1
TOEFL (PBT) :  4
TOEFL (iBT) :  9
TOEIC :  54

In [112]:
# Not enough data in following tests - drop them
tests_to_drop = ['A Level (General Paper)', 'CSEPT', 'HKALE', 'IELTS', 'NMET', 
                 'O Level (Eng Lang)', 'TEPS', 'TOEFL (PBT)', 'TOEFL (iBT)']
df = df.drop(tests_to_drop, axis=1)

In [113]:
# Fill the following tests with zeros for nan's
tests = ['CEE', 'ONET', 'TOEIC']

for test in tests:
    df[test + '_isna'] = df[test].isna().astype(int)
    df[test] = df[test].fillna(0)

df.head(20)

,Total 1 (%),Country,PTJ1,SMK1,Sex,Age,Grade,Major,Field,Test,Score,VST,CEFR,INTM,INSM,Primary,Secondary,College,Inschool,Outschool,Listening,Reading,Speaking,Writing,NS,Pronunciation,Presentation,EssayW,Grade_isna,CEE,ONET,TOEIC,CEE_isna,ONET_isna,TOEIC_isna
0,66.65,CHN,271,219,F,20,2.0,Law,Social Sciences,CEE,72.0,30.0,B1_1,0.00,0.00,2.0,3.63,4.25,3.89,3.56,4.00,4.50,3.50,3.75,4.0,5.0,5.0,4.0,0,72.0,0.0,0.0,0,1,1
1,72.50,CHN,203,292,F,21,3.0,Law,Social Sciences,CEE,77.0,27.0,B1_1,4.17,4.33,2.5,4.00,1.86,3.00,2.88,3.00,3.00,2.75,3.33,3.0,3.0,3.0,3.0,0,77.0,0.0,0.0,0,1,1
2,70.00,CHN,238,250,F,20,3.0,Law,Social Sciences,CEE,79.0,32.0,B1_1,5.17,5.17,3.5,4.25,4.25,4.22,4.11,5.00,4.00,3.75,4.25,4.0,5.0,5.0,5.0,0,79.0,0.0,0.0,0,1,1
3,71.70,CHN,269,230,F,20,2.0,Chemistry,Sciences & Technology,CEE,87.0,37.0,B1_2,4.67,5.17,1.0,2.75,4.25,3.44,3.00,3.75,3.75,3.25,3.25,3.0,5.0,5.0,5.0,0,87.0,0.0,0.0,0,1,1
4,76.65,CHN,225,208,M,20,2.0,Chemistry,Sciences & Technology,CEE,84.0,44.0,B1_2,5.17,5.33,2.0,3.63,4.88,4.33,3.67,5.00,5.00,3.25,3.75,3.0,5.0,5.0,5.0,0,84.0,0.0,0.0,0,1,1
5,70.85,CHN,215,235,F,20,2.0,Chemistry,Sciences & Technology,CEE,81.0,42.0,B1_2,4.67,4.83,1.0,3.25,4.50,3.67,3.44,4.50,4.50,3.25,3.25,4.0,5.0,5.0,4.0,0,81.0,0.0,0.0,0,1,1
6,81.70,CHN,218,208,M,19,1.0,Telecommunication,Sciences & Technology,CEE,89.0,34.0,B1_1,4.67,5.50,1.0,2.75,5.00,4.11,3.00,4.00,4.25,3.50,3.75,1.0,4.0,5.0,5.0,0,89.0,0.0,0.0,0,1,1
7,65.80,CHN,240,221,F,19,1.0,Telecommunication,Sciences & Technology,CEE,95.0,39.0,B1_2,5.00,5.67,3.0,4.00,5.00,4.56,4.11,4.50,5.00,4.25,4.25,5.0,5.0,5.0,5.0,0,95.0,0.0,0.0,0,1,1
8,80.80,CHN,230,207,F,20,1.0,Telecommunication,Sciences & Technology,CEE,97.0,40.0,B1_2,5.50,5.83,2.0,4.63,5.00,4.89,4.11,4.75,5.50,4.50,4.50,4.0,6.0,5.0,6.0,0,97.0,0.0,0.0,0,1,1
9,78.35,CHN,205,241,F,18,1.0,Telecommunication,Sciences & Technology,CEE,90.0,33.0,B1_1,4.33,4.83,1.0,4.50,4.63,4.33,4.00,4.75,5.00,4.00,4.50,3.0,5.0,4.0,6.0,0,90.0,0.0,0.0,0,1,1
10,65.00,CHN,215,237,M,18,1.0,Telecommunication,Sciences & Technology,CEE,83.0,35.0,B1_1,4.83,4.50,1.0,4.25,4.13,4.00,3.67,4.50,5.00,3.50,3.75,3.0,3.0,5.0,5.0,0,83.0,0.0,0.0,0,1,1
11,78.30,CHN,216,264,F,19,1.0,Telecommunication,Sciences & Technology,CEE,89.0,35.0,B1_1,4.67,4.33,1.0,2.63,4.75,4.11,2.67,3.75,4.00,3.50,3.50,2.0,4.0,4.0,5.0,0,89.0,0.0,0.0,0,1,1
12,63.35,CHN,236,252,F,19,2.0,Law,Social Sciences,CEE,85.0,39.0,B1_2,4.33,5.17,2.0,3.75,4.25,3.89,3.67,4.25,5.00,3.25,3.50,6.0,6.0,5.0,4.0,0,85.0,0.0,0.0,0,1,1
13,79.15,CHN,262,248,F,19,2.0,Law,Social Sciences,CEE,85.0,39.0,B1_2,4.33,5.67,4.0,4.25,3.63,3.89,4.00,4.00,4.75,3.50,3.50,6.0,6.0,5.0,3.0,0,85.0,0.0,0.0,0,1,1
14,66.65,CHN,228,227,F,19,2.0,Law,Social Sciences,CEE,84.0,38.0,B1_2,4.50,4.83,2.0,3.88,4.00,4.00,3.44,4.50,4.25,3.50,3.50,2.0,4.0,4.0,4.0,0,84.0,0.0,0.0,0,1,1
15,72.50,CHN,238,250,F,19,2.0,Law,Social Sciences,CEE,81.0,39.0,B1_2,4.17,5.17,2.0,4.25,3.75,3.78,3.78,4.25,4.75,3.50,3.50,5.0,5.0,5.0,4.0,0,81.0,0.0,0.0,0,1,1
16,70.85,CHN,251,211,F,19,2.0,Law,Social Sciences,CEE,80.0,35.0,B1_1,4.33,5.00,2.0,3.38,3.50,3.56,3.00,3.50,3.50,3.00,3.75,5.0,5.0,5.0,5.0,0,80.0,0.0,0.0,0,1,1
17,43.35,CHN,195,189,F,19,2.0,Law,Social Sciences,CEE,85.0,39.0,B1_2,4.33,5.67,4.0,4.25,3.63,3.89,4.00,4.00,4.75,3.50,3.50,6.0,6.0,5.0,3.0,0,85.0,0.0,0.0,0,1,1
18,73.35,CHN,230,204,F,19,2.0,Education,Humanities,CEE,65.0,25.0,B1_1,5.33,4.17,2.0,3.13,3.63,3.11,3.33,3.25,3.75,4.00,2.50,6.0,1.0,1.0,6.0,0,65.0,0.0,0.0,0,1,1
19,67.50,CHN,220,206,F,20,2.0,Education,Humanities,CEE,82.0,17.0,A2_0,5.67,5.67,1.0,4.50,4.50,4.33,3.89,5.00,5.00,3.25,4.75,2.0,5.0,2.0,5.0,0,82.0,0.0,0.0,0,1,1

In [116]:
# Test and Score columns are now redundant. Drop them.
df = df.drop(['Test', 'Score'], axis=1)

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 33 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Total 1 (%)    321 non-null    float64
 1   Country        321 non-null    object
 2   PTJ1           321 non-null    int64
 3   SMK1           321 non-null    int64
 4   Sex            321 non-null    object
 5   Age            321 non-null    int64
 6   Grade          321 non-null    float64
 7   Major          321 non-null    object
 8   Field          321 non-null    object
 9   VST            321 non-null    float64
 10  CEFR           321 non-null    object
 11  INTM           321 non-null    float64
 12  INSM           321 non-null    float64
 13  Primary        321 non-null    float64
 14  Secondary      321 non-null    float64
 15  College        321 non-null    float64
 16  Inschool       321 non-null    float64
 17  Outschool      321 non-null    float64
 18  Listening      321 non-null    float64
 19  Reading        321 non-null    float64
 20  Speaking       321 non-null    float64
 21  Writing        321 non-null    float64
 22  NS             321 non-null    float64
 23  Pronunciation  321 non-null    float64
 24  Presentation   321 non-null    float64
 25  EssayW         321 non-null    float64
 26  Grade_isna     321 non-null    int32
 27  CEE            321 non-null    float64
 28  ONET           321 non-null    float64
 29  TOEIC          321 non-null    float64
 30  CEE_isna       321 non-null    int32
 31  ONET_isna      321 non-null    int32
 32  TOEIC_isna     321 non-null    int32
dtypes: float64(21), int32(4), int64(3), object(5)
memory usage: 77.9+ KB

In [118]:
# Save file
df.to_csv('Data/Written_essay_scores_cleaned.csv')